@CHARSET "UTF-8";
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

li {
	list-style: none;
}

body {
	font-family: "맑은 고딕";
	overflow-x: hidden;
}

.locationBox {
	margin: 0 auto;
	width: 1440px;
	height: 30px;
	background: url("../img/bg_location.jpg") no-repeat center bottom;
}

.location {
	margin: 0 auto;
	color: #333;
	font-size: 11px;
	width: 956px;
	height: 25px;
	border: 1px solid white;
}

.location ul {
	margin-top: 7px;
}

.location ul li {
	float: left;
}

.location ul li:nth-child(3) {
	color: #999;
}

#containerBox {
	width: 1440px;
	height: 1223px;
	background: url("../img/bg_body1_1.jpg") repeat-x center -30px;
	margin: 0 auto;
}

#skipct {
	width: 956px;
	height: 1223px;
	margin: 0 auto;
}

#skipct h3 {
	font-size: 24px;
	color: #010101;
	font-weight: normal;
	line-height: 28px;
	width: 725px;
	height: 28px;
	margin: 20px 0 44px 10px;
}

#skipct .rv_stepBox {
	width: 964px;
	margin: 0 auto 10px auto;
	font-size: 13px;
}

#skipct .rv_stepBox li {
	float: left;
	height: 30px;
	line-height: 12px;
	margin-left: -2px;
	padding: 0 0 0 9px;
}

#skipct .rv_stepBox .step01_end {
	color: #5d6067;
	background: url("../img/bg_rvStep01_end.gif") no-repeat 0 0;
	width: 161px;
	padding: 0 0 0 18px;
	margin-left: -1px;
	font-weight: normal;
}

#skipct .rv_stepBox .step02_end {
	color: #5d6067;
	background: url("../img/bg_rvStep02_end.gif") no-repeat 0 0;
	width: 179px;
	padding: 0 0 0 18px;
	margin-left: -2px;
	font-weight: normal;
}

#skipct .rv_stepBox .step03_on {
	color: #5d6067;
	font-weight: bold;
	background: url("../img/bg_rvStep03_on.gif") no-repeat 0 0;
	width: 154px;
	padding: 0 0 0 43px;
}

#skipct .rv_stepBox .step04_off {
	color: #5d6067;
	font-weight: normal;
	background: url("../img/bg_rvStep04_off.gif") no-repeat 0 0;
	width: 188px;
}

#skipct .rv_stepBox .step05_off {
	color: #5d6067;
	font-weight: normal;
	background: url("../img/bg_rvStep05_off.gif") no-repeat 0 0;
	width: 188px;
	margin-left: -7px;
}

#skipct .helpOp {
	width: 956px;
	height: 22px;
	text-align: right;
	margin: 80px -231px 19px 0;
}

#skipct .helpOp .btnType06 {
	margin-top: 10px;
	width: 108px;
	height: 22px;
	background: url("../img/bg_btnLeft6.jpg") no-repeat 0 0;
	display: inline-block;
}

#skipct .helpOp .btnType06 a {
	padding-right: 41px;
	background: url("../img/bg_btnRight6.jpg") no-repeat right 0;
	padding: 0 35px 0 8px;
	display: block;
	height: 22px;
	line-height: 22px;
	color: #4c4c4c;
	font-size: 11px;
}

.itineraryBoxPs.fareBox {
	width: 725px;
	height: 853px;
}

.selectITbox3 {
	width: 725px;
	height: 112px;
	background: url("../img/bg_selectItineraryTopD2.gif") no-repeat 0 0;
	padding: 20px 0 0 0;
	margin: 0 0 10px 0;
}

.selectITbox3 .selectITinner3 {
	padding: 0 0 24px 0;
	width: 725px;
	height: 88px;
	background: #fff url("../img/bg_selectItineraryBottom.gif") no-repeat 0
		bottom;
}

.notice_container {
	width: 725px;
	height: 173px; margin : 0 auto;
	background: url("../img/bg_noticeTop.gif") no-repeat 0 0;
	padding: 9px 0 0 0;
	margin: 0 auto;
}

.notice_container .notice_Inner {
	width: 725px;
	height: 167px;
	background: url("../img/bg_noticeBottom.gif") no-repeat 0 bottom;
	margin: 0;
	padding: 0 0 6px 0;
}

.notice_Inner .notice li {
	background: url("../img/bl_notice.gif") no-repeat 14px 3px;
	padding: 0 0 4px 39px;
	line-height: 21px;
	font-size: 12px;
}