@CHARSET "UTF-8";

.top5{
font-weight: bold;
background: #73706c;
color: #fff !important; 
}

.sub5{
display: block !important;
}

.sub5 .index2{
font-weight: bold;
}

.locationBox{
background: url(../images/bg_location.jpg) no-repeat center bottom;
}

.locationInner{
width: 956px;
height: 30px;
line-height: 32px;
margin: 0 auto;
}

.locationBox .locationInner ul li{
float: left;
color: #999;
font-size: 11px;
text-align: left center;
}

.locationBox .locationInner ul li a{
color: #333;
}

.locationInner span{
padding: 0 8px;
}

.subMain{
background: url(../images/bg_body1_1.jpg) repeat-x center 0;
height: 920px;
}

.subMain .container{
width: 956px;
margin: 0 auto;
position: relative;
}

#skipCt{
min-height: 650px;
}

#skipCt #containerBody{
padding: 35px 0 100px 30px;
margin-left: 195px;
min-height: 780px;
}

#skipCt #containerBody .h3_type01{
font-size: 24px;
color: #010101;
font-weight: normal;
margin: 3px 0 47px;
line-height: 28px;
}

#skipCt #containerBody .h4_type01{
background: url(../images/bl_hType01.gif) no-repeat 0 3px;
overflow: hidden;
color: #5e14cc;
padding: 0 9px 2px 28px;
display: inline-block;
line-height: 23px;
margin: 7px 0 6px 0;
}

#skipCt #containerBody .myBoxType2{
border-top: 1px solid #5c5f66;
border-bottom: 1px solid #adafb2;
margin-bottom: 10px;
border-collapse: collapse;
}

#skipCt #containerBody .myBoxType2 td:FIRST-CHILD {
width: 154px;
font-weight: bold;
line-height: 25px;
padding: 5px 0;
font-size: 12px;
}

#skipCt #containerBody .myBoxType2 td:LAST-CHILD {
background: url(../images/bg_ddType01.gif) no-repeat;
padding-left: 10px;
width: 547px;
font-size: 13px;
line-height: 25px;
font-size: 12px;
}

#skipCt #containerBody .myBoxType2 input[type=password]{
color: #808080;	
}

#skipCt #containerBody .myBoxType2 .inputfocus{
border: 1px solid #a6a6a6;
height: 23px;
line-height: 23px;
padding: 0 3px;
color: #808080;
}

#skipCt #containerBody .myBoxType2 .line{
border-top: 1px solid #d9d9d9;
}

.alertList01{
padding-top: 6px;
}

.alertList01 li{
background: url(../images/bl_ck.gif) no-repeat left;
padding-left: 21px;
line-height: 18px;
font-size: 11px;
}

.btn_personneList{
float: right;
padding-top: 20px;
margin-right: 22px;
}

.btn_personneList .confirm{
background: url(../images/btn_confirm.JPG) no-repeat;
width: 89px;
height: 36px;
}