@CHARSET "UTF-8";

.stepBG{
width: 100%;
height: 100px;
margin: 0 auto;
border-bottom: 1px solid #D5D5D5;
}

.issueCont{
margin: 0 auto;
margin-top: 10px;
width: 956px;
height: 950px;
}

.memberLeftArea{
background: url(../images/bgK_memberLeft.gif) no-repeat 0 32px;
width:102px;
height: 100px;
float: left;
}

.memberLeftArea img{
margin-top: 50px;
}

.Registered{
width: 630px;
height: 920px;
margin: 0 auto;
margin-top: 30px;
}

.Registered h4{
background: url(../images/bl_hType01.gif) no-repeat left center;
color: #5e14cc;
padding:0 9px 3px 28px;
}

.Registered .agreeStyle{
border: 1px solid #bdbdbd;
width: 630px;
height: 115px;
color: #696969;
font-size: 12px;
margin-top: 5px;
}

.Registered .memberTextStyle{
font-size: 11px;
color: #999px;
height: 16px;
}

.Registered .memberTextStyle .agreeRadioStyle{
margin-top: 5px;
font-size: 12px;
color: #545454;
text-align: right;
}

.Registered .memberTextStyle .agreeRadioStyle li{
display: inline-block;
margin: 0 0 0 15px;
}

.Registered .memberTextStyle .agreeRadioStyle input{
cursor: pointer;
}

.Registered .Allagree{
width: 600px;
height: 50px;
margin-left: 80px;
margin-top: 40px;
font-size: 14px;
color: #545454;
}

.Registered .btn{
width: 170px;
height: 36px;
margin-left: 467px;
margin-top: 20px;
}

.Registered .btn .close{
background: url(../images/btn_close.JPG) no-repeat;
width: 68px;
height: 36px;
}

.Registered .btn .confirm{
background: url(../images/btn_confirm.JPG) no-repeat;
width: 89px;
height: 36px;
}