@CHARSET "UTF-8";
#footer{border-top: 1px solid #ccc;background: #e7e7e2;}
.foot_hr{border-top: 1px solid #ccc;}
.foot li{float: left; padding: 9px 9px 10px 7px; height:14px; letter-spacing: 0px;}
.foot a{font-size: 11px; color: #4c4c4c; font-family: '돋움';}
.foot_li2 {position: absolute;top: -263px; width: 146px;border: 1px solid rgb(153, 153, 153);display: none;background: rgb(255, 255, 255);}
.foot_content{width:956px; padding: 13px 0 15px 0;font-size: 11px;color: #666;font-family: '돋움';"}